
  
  <!-- Modal -->
  <div class="modal fade" id="feedbackModal" tabindex="-1" role="dialog" aria-labelledby="feedbackModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title text-white" id="feedbackModalLabel">Agenda</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <section id="section">
            <div id="content-wrap">
              <div id="background">
                <iframe src="assets/ipf/images/agenda/agenda.pdf" width="100%" height="500" frameborder="0" marginheight="0" marginwidth="0"></iframe>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
  </div>