<div class="container-fluid" id="popup">
    <div class="row">
      <div class="col-md-12 col-xl-12">
        <div class="chat_section">
          <div class="popup_header">
            <h6>Choose a poll</h6>
            <a class="close" (click)="closePopup()"></a>
          </div>
          <div class="container-fluid" style="  background: #f2f4f7;">
            <h6 style="text-align: center;" *ngIf="msg">{{msg}}</h6>
            <div class="row pt-2">
              <div class="col-md-12 col-xl-12 pl-0">
  
                <div class="message_input"  *ngFor="let poll of  pollingLIst">
                  <div id="question">
                      <b>Question:</b>
                      <form [formGroup]="pollForm">
                          <p>{{poll.title}}</p>
                          <div *ngFor="let choice of poll.options">
                            <label  style="cursor:pointer">  
                            <input formControlName='polling'  type="radio" value="{{choice.choice}}">
                               &nbsp;{{choice.choice}}</label>
                          </div>
                          <div>
                            <input type="button"  class="btn btn-borderBtn" id="formSubmit" style="background-color: #292f35; color: white; margin-left: 12px;" (click)="pollSubmit(poll.id)" value="Submit"/>
                          </div>
                      </form>
                  </div>
              </div>
              </div>
  
            </div>
          </div>
        </div>
      </div>
    </div>
  