<section>
    <div id="navcontent">
        <div id="navbg">
            <img id="navimg" src="../../../../assets/ipf/icons/TOP-BAND.jpg" alt="">
            <ul id="menuItems">
                <li *ngFor="let menu of menuItems; let i = index">
                    <div title="{{menu.name}}" id="item" [ngStyle]="{'border-right': ((i===14))?'0px solid transparent': '2px solid white'}">
                        <a *ngIf="menu.datatarget" data-toggle="modal" attr.data-target="#{{menu.datatarget}}" (click)="stepup(menu.analytics)"><img src="{{menu.icon}}" alt="">
                            <div>{{menu.name | uppercase}}</div>    
                        </a>
                        <a *ngIf="(!menu.datatarget)&&(menu.path!=='/login')" routerLink="{{menu.path}}" (click)="stepup(menu.analytics)"><img src="{{menu.icon}}" alt="">
                            <div>{{menu.name | uppercase}}</div>
                        </a>
                       
                        
                        <a *ngIf="menu.path==='/login'" (click)="exit()"><img src="{{menu.icon}}" alt="" (click)="stepup(menu.analytics)"><div>LOGOUT</div></a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>