<span id="back">
    <a class="nav-link sign" routerLink="/exhibitionHall" title="Back" role="button">
        BACK</a>
</span>
<section>
    <div class="content-wrap">
        <div class="bg_img">
            <img src="{{banner}}" alt="">
        </div>

    </div>
</section>
<div class="booth-icons-box">
    <a class="booth-icon-link" href="javascript:void(0);" (click)="playGrowBySharingVideo(exhibiton[0].video);">
        Play video <span><img
                src="https://icon2.cleanpng.com/20180205/rhe/kisspng-video-sound-play-button-transparent-background-5a78ae776a8261.2982911315178584234363.jpg"></span>
    </a>

    <a class="booth-icon-link" href="javascript:void(0);" data-fancybox="" data-toggle="modal" data-target=".docsModal">
        Brochures <span><img src="assets/ipf/icons/new/Briefcase.png"></span>
    </a>

    <a data-fancybox="" data-toggle="modal" data-target=".liveQuestionModal" href="javascript:void(0);"
        class="booth-icon-link">
        Chat With Exhibitior <span><img src="assets/ipf/icons/new/chat.png"></span>
    </a>
    <a data-fancybox="" data-toggle="modal" data-target=".salesModal" href="javascript:void(0);"
        class="booth-icon-link">
        Sales information <span><img src="assets/ipf/icons/new/Briefcase.png"></span>
    </a>
    <a data-fancybox="" href="javascript:void(0);" class="booth-icon-link" (click)=cardDropped()>
        Card Drop <span><img src="assets/ipf/icons/new/contact.png"></span>
    </a>
    <a data-fancybox="" data-toggle="modal" data-target=".productModal" href="javascript:void(0);"
        class="booth-icon-link">
        Product List <span><img src="assets/ipf/icons/new/Briefcase.png"></span>
    </a>
    <a data-fancybox="" href="javascript:void(0);" class="booth-icon-link" (click)=openCallBox()>
        Schedule a call <span><img src="assets/ipf/icons/new/contact.png"></span>
    </a>
    <!-- <div class="call" title="Schedule a call" (click)="openCallBox()">Schedule a call
         <div class="pulsating-circle" ></div> -->
         <!-- </div>  -->
   
</div>
<!--salesModal model-->
<div class="modal fade " tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="container-fluid" id="popup">
                <div class="row">
                    <div class="col-md-12 col-xl-12">
                        <div class="chat_section">
                            <div class="popup_header">
                                <h6 style="text-transform: uppercase;">sales information</h6>
                                <a class="close" (click)="closePopup()"></a>
                            </div>
                            <div class="container-fluid" style="  background: #f2f4f7;">
                                <div class="row pt-2">

                                    <div class="col-md-6" *ngFor="let docs of exhibiton[0].sales">
                                        <div class="profile-card">
                                            <figure>
                                                <i class="fa fa-user"></i>
                                            </figure>
                                            <h3>{{docs.name}}</h3>
                                            <table class="table">
                                                <tbody>
                                                    <tr>
                                                        <td><i class="fa fa-id-badge"></i>{{docs.position}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td><i class="fa fa-envelope"></i>{{docs.email}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td><i class="fa fa-mobile"></i>{{docs.contact}}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Document Modal -->
<div class="modal fade docsModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="container-fluid" id="popup">
                <div class="row">
                    <div class="col-md-12 col-xl-12">
                        <div class="chat_section">
                            <div class="popup_header">
                                <h6 style="text-transform: uppercase;">Resources</h6>
                                <a class="close" (click)="closePopupdocs()"></a>
                            </div>
                            <div class="container-fluid" style="  background: #f2f4f7;">
                                <div class="row pt-2">
                                    <div class="col-md-12 col-xl-12 pl-0">
                                        <div class="chat_box">
                                            <ul class="chat_message">
                                                <li class="chat_messageList" *ngFor="let docs of document">
                                                    <!-- <a target="_blank" (click)="getDocument('./assets/img/arise.pdf')"> -->
                                                    <div class="img_avatar"> <img src="./assets/img/pdf.png" alt="">
                                                    </div>
                                                    <p style="    display: inline;">
                                                        <span class="person">
                                                            <a href="{{docs.url}}" target="_blank" class="checkProfile">
                                                                {{docs.title}}</a>
                                                        </span>

                                                    </p>

                                                    <div class="img_avatar_R"> <a href="{{docs.url}}" target="_blank"
                                                            class="checkProfile">
                                                            <h4>view</h4>
                                                        </a></div>
                                                    <p>
                                                        <!-- </a> -->
                                                </li>

                                                <hr>
                                            </ul>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- live chat modal -->
<div class="modal fade liveQuestionModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-sm" style="position: absolute; bottom: 0px; right: 85px;">
        <div class="modal-content">
            <div class="card" id="chatSection" *ngIf="isShow">
                <div class="p-3" style="font-weight: 500; background-color: #da251c; color: white;">Chat with
                    {{exhibiton[0].title}}
                    <i class="fa fa-times float-right" style="cursor: pointer;" title="Minimize Chat" *ngIf="showchat"
                        (click)="hidediv()"></i>
                    <i class="fa fa-arrow-up float-right" *ngIf="hidechat" title="Maximize Chat" (click)="show()"></i>
                </div>
                <div class="row" *ngIf="showDiv">
                    <div class="col-md-12 col-xl-12 col-sm-12">
                        <div id="setChat">
                            <div class="card p-2 customPost" *ngFor="let qa of qaList"
                                style="border-left: 5px solid cadetblue; margin-bottom: 5px">
                                <div id="image_profile" style="padding: 1px 12px;
                  ">
                                    <span class="profileImage1 card-body" *ngIf="myid != qa.sender_id"
                                        title="{{qa.sender_name}}">{{qa.sender_name
                                        | slice:0:1}}</span>

                                    <div *ngIf="myid != qa.sender_id" id="profile_details1">
                                        <div>{{qa.msg}}</div>
                                    </div>
                                    <span class="profileImage card-body" *ngIf="myid == qa.sender_id"
                                        title="{{qa.sender_name}}">{{qa.sender_name
                                        | slice:0:1}}</span>
                                    <div *ngIf="myid == qa.sender_id" id="profile_detail">
                                        <div>{{qa.msg}}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="pt-3 pb-3 pl-1 pr-1">
                            <input class="form-control" [(ngModel)]="msgs" maxlength="60"
                                placeholder="Write something here.." [formControl]="textMessage"
                                (keyup.enter)="postQuestion(textMessage.value)" /> <br>
                            <button class="btn btn-danger" (click)="postQuestion(textMessage.value)">Send</button>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>



<div class="modal fade pdfModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="container-fluid" id="popup">
                <div class="row">
                    <div class="col-md-12 col-xl-12">
                        <div class="chat_section">
                            <div class="popup_header">
                                <h6>{{documentName}}</h6>
                                <a class="close" (click)="closepdf()"></a>
                            </div>
                            <iframe [src]="document" style="width:100%; height:520px" frameborder='0'>This is an
                                embedded <a target='_blank' href='http://office.com'>Microsoft
                                    Office</a> document, powered by <a target='_blank'
                                    href='http://office.com/webapps'>Office Online</a>.</iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- video Modal -->
<div class="modal fade" id="playVideo" tabindex="-1" role="dialog" aria-labelledby="playVideoTitle" aria-hidden="true"
    style="z-index: 9999;">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <!-- <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">{{videoName}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div> -->
            <div class="modal-body p-0">
                <div id="modal-video">
                    <div id="closePopup" (click)="closeModalVideo()">&times;</div>
                    <video id="video" preload="auto" [src]="videosource" width="100%" controls>
                    </video>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Document Modal -->
<div class="modal fade videosModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="container-fluid" id="popup">
                <div class="row">
                    <div class="col-md-12 col-xl-12">
                        <div class="chat_section">
                            <div class="popup_header">
                                <h6 style="text-transform: uppercase;">Videos</h6>
                                <a class="close" (click)="closePopvideos()"></a>
                            </div>
                            <div class="container-fluid" style="  background: #f2f4f7;">
                                <div class="row pt-2">
                                    <div class="col-md-12 col-xl-12 pl-0">
                                        <div class="chat_box">
                                            <ul class="chat_message">

                                                <li class="chat_messageList">
                                                    <!-- <a target="_blank" (click)="getDocument('./assets/img/arise.pdf')"> -->
                                                    <div class="img_avatar"> <img
                                                            src="assets/lilly/images/video_icon.png" alt=""></div>
                                                    <p style="    display: inline;">
                                                        <span class="person">
                                                            <a href="javascript:void(0);"
                                                                (click)="playGrowBySharingVideo('https://virtualapi.multitvsolution.com/exhibitions/20201222180627_lilly.mp4');"
                                                                class="checkProfile"> Health care lilly 1</a>
                                                        </span>

                                                    </p>

                                                    <!-- <div class="img_avatar_R"> <a href="{{docs.url}}" target="_blank"  class="checkProfile"> <h4>view</h4></a></div> -->
                                                    <p>
                                                        <!-- </a> -->
                                                </li>
                                                <li class="chat_messageList">
                                                    <!-- <a target="_blank" (click)="getDocument('./assets/img/arise.pdf')"> -->
                                                    <div class="img_avatar"> <img
                                                            src="assets/lilly/images/video_icon.png" alt=""></div>
                                                    <p style="    display: inline;">
                                                        <span class="person">
                                                            <a href="javascript:void(0);"
                                                                (click)="playGrowBySharingVideo('https://virtualapi.multitvsolution.com/exhibitions/Trulicity.mp4');"
                                                                class="checkProfile"> Trulicity</a>
                                                        </span>

                                                    </p>

                                                    <!-- <div class="img_avatar_R"> <a href="{{docs.url}}" target="_blank"  class="checkProfile"> <h4>view</h4></a></div> -->
                                                    <p>
                                                        <!-- </a> -->
                                                </li>
                                                <hr>
                                            </ul>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- <div id="socialicons">
    <a target="_blank" *ngIf="exhibiton[0].twitter != ''" href="{{exhibiton[0].twitter}}"><img
            src="assets/icons/twit.png" alt=""></a>
    <a target="_blank" *ngIf="exhibiton[0].youtube != ''" href="{{exhibiton[0].youtube}}"><img
            src="assets/icons/youtube.png" alt=""></a>
    <a target="_blank" *ngIf="exhibiton[0].linkedin_url != ''" href="{{exhibiton[0].linkedin_url}}"><img
            src="assets/icons/linkdin.png" alt=""></a>
    <a target="_blank" *ngIf="exhibiton[0].fb != ''" href="{{exhibiton[0].fb}}"><img src="assets/icons/fbicon.png"
            alt=""></a>
    <a href="{{exhibiton[0].linkedin}}" *ngIf="exhibiton[0].linkedin != ''" target="_blank" rel="noopener noreferrer">
        <i style="    position: absolute;
                 right: 14px;
    bottom: 235px;
    font-size: 41px;" class="fa fa-globe"></i>
    </a>
</div> -->
<!-- <div id="socialicons">
    <a target="_blank" *ngIf="exhibiton[0].twitter != ''" href="{{exhibiton[0].twitter}}"><img
            src="/assets/ipf/icons/new/twit.png" alt=""></a>
    <a target="_blank" *ngIf="exhibiton[0].youtube != ''" href="{{exhibiton[0].youtube}}"><img
            src="assets/ipf/icons/new/youtube.png" alt=""></a>
    <a target="_blank" *ngIf="exhibiton[0].linkedin_url != ''" href="{{exhibiton[0].linkedin_url}}"><img
            src="assets/ipf/icons/new/linkdin.png" alt=""></a>
    <a target="_blank" *ngIf="exhibiton[0].fb != ''" href="{{exhibiton[0].fb}}"><img
            src="/assets/ipf/icons/new/fbicon.png" alt=""></a>
    <a href="{{exhibiton[0].linkedin}}" *ngIf="exhibiton[0].linkedin != ''" target="_blank" rel="noopener noreferrer">
        <i style="    position: absolute;
                 right: 14px;
    bottom: 235px;
    font-size: 41px;" class="fa fa-globe"></i>
    </a>
</div> -->


<div class="rightMenu">
    <ul class="list-unstyled">
        <li>
            <a target="_blank" *ngIf="exhibiton[0].twitter != ''" href="{{exhibiton[0].twitter}}">
                <img src="/assets/ipf/icons/new/twit.png" alt="" width="30px">
                <div class="text-white">twitter</div>
            </a>
        </li>
    </ul>
    <ul class="list-unstyled">
        <li>
            <a target="_blank" *ngIf="exhibiton[0].youtube != ''" href="{{exhibiton[0].youtube}}">
                <img src="assets/ipf/icons/new/youtube.png" alt="" width="30px">
                <div class="text-white">youtube</div>
            </a>
        </li>
    </ul>
    <ul class="list-unstyled">
        <li>
            <a target="_blank" *ngIf="exhibiton[0].fb != ''" href="{{exhibiton[0].fb}}">
                <img src="assets/ipf/icons/new/facebook.png" alt="" width="30px">
                <div class="text-white">Facebook</div>
            </a>
        </li>
    </ul>
    <ul class="list-unstyled">
        <li><a target="_blank" *ngIf="exhibiton[0].linkedin_url != ''" href="{{exhibiton[0].linkedin_url}}">
                <img alt="" src="assets/ipf/icons/new/linkedinone.png" width="30px">
                <div class="text-white">Linkedin</div>
            </a></li>
    </ul>
</div>
<!--product model-->
<div class="modal fade productModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="container-fluid" id="popup">
                <div class="row">
                    <div class="col-md-12 col-xl-12">
                        <div class="chat_section">
                            <div class="popup_header">
                                <h6 style="text-transform: uppercase;">Product list</h6>
                                <a class="close" (click)="closePopupprod()"></a>
                            </div>
                            <div class="container-fluid" style="  background: #f2f4f7;">
                                <div class="row pt-4">
                                    <div class="col-md-12 col-xl-12 pl-0">
                                        <div class="chat_box">
                                            <ul class="chat_message">

                                                <li class="chat_messageList" *ngFor="let prod of product">
                                                    <!-- <a target="_blank" (click)="getDocument('./assets/img/arise.pdf')"> -->
                                                    <!-- <div class="img_avatar"> <img src="./assets/img/pdf.png" alt="">
                                                    </div> -->
                                                    <p style="    display: inline;">
                                                        <span class="person">
                                                            <a href="{{prod.url}}" target="_blank" class="checkProfile">
                                                                {{prod.title}}</a>
                                                        </span>
                                                    </p>
                                                    <div class="img_avatar_R">
                                                        <a href="{{prod.url}}" target="_blank" class="checkProfile">
                                                            <h4>view</h4>
                                                        </a>
                                                    </div>
                                                    <p>
                                                        <!-- {{product|json}} -->
                                                </li>

                                                <hr>
                                            </ul>
                                        </div>

                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
