section{
    position: relative;
    height: 100%;
    width: 100%;
    .content-wrap{
      position: relative;
      .bg_img{
        position: relative;
        height: 100%;
        width: 100%;
        display: block;
        img{
          width: 100vw;
          height: 100vh;
        }
      }
    }  
  }
  .bg {
    //   background-image: url(../../../../assets/serdia_myanmar/images/exhibit_commit_to_succeed_1.jpg);
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      width: 100%;
      height: 100vh;
      background-color: #2d2b21;
      animation: opac .5s;
    
      // position: relative;
    }
    @keyframes opac {
      from{
          opacity: 0;
      } to {
          opacity: 1;
      }
    }
    
    @media (max-width: 767px){
    .bg{
      background-position: top center;
        background-size: contain;
    }
    #back{
      margin-left: 50px !important;
    }
    }
    .docs {
      position: absolute;
      top: 52%;
      right: 48%;
          cursor: pointer;
          height: 10vh;
          width: 25vw;
          .pulsating-circle{
              position: absolute;
              top: 20%;
              left: 20%;
              cursor: pointer;
          }
    }
    .video {
      position: absolute;
      top: 48%;
      left: 62%;
      cursor: pointer;
      height: 10vh;
      width: 15vw;
      .pulsating-circle{
          position: absolute;
          top: 20%;
          left: 20%;
          cursor: pointer;
      }
    }
  
  #image_profile {
    img {
        float: left;
        border-radius: 50%;
    }
    #profile_detail {
        padding: 5px;
        margin-left: 55px;
  
        #profile_name {
            font-weight: 600;
        }
    }
  }
  .profileImage {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background: cadetblue;
    font-size: 14px;
    color: #fff;
    text-align: center;
    float: right;
    font-weight: bold;
    padding: 10px;
  }
  .profileImage1 {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background: #28a745;
    font-size: 14px;
    color: #fff;
    text-align: center;
    float: left;
    font-weight: bold;
    padding: 10px;
  }
  .bord:nth-child(even) {
    border-left: 5px solid cadetblue;
  }
  #setChat{
    max-height: 200px;  min-height: 200px; overflow:auto;
  }
  @media only screen and (max-height: 500px) {
    #setChat{
      max-height: 100px;  min-height: 100px; overflow:auto;
    }
  }
  .bord:nth-child(odd) {
    border-left: 5px solid black;
  }
    .chats {
      position: absolute;
      top: 72%;
      right: 31%;
      height: 10vh;
      width: 10vw;
      cursor: pointer;
      .pulsating-circle{
          position: absolute;
          top: 20%;
          right: 20%;
          cursor: pointer;
      }
    }
    .call {
      .pulsating-circle{
          position: absolute;
          top: 97%;
          right: 59%;
          cursor: pointer;
      }
    }
    .info { 
      .pulsating-circle{
          position: absolute; 
          top: 70%;
          right: 62%;
          cursor: pointer;
      }
    }
  
  #popup{
    background: #000000c9;
    padding: 5px;
    .chat_section{
      background: #292F35;
      .popup_header{
        height: 40px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        color: #fff;
  
        .close {
          position: absolute;
          right: 7px;
          width: 24px;
          height: 28px;
          opacity: 0.5;
        }
        .close:hover {
          opacity: 1;
        }
        .close:before, .close:after {
          position: absolute;
          right: 7px;
          content: ' ';
          height: 28px;
          width: 2px;
          background-color: #fff;
        }
        .close:before {
          transform: rotate(45deg);
        }
        .close:after {
          transform: rotate(-45deg);
        }
  
      }
    }
  }
  .img_avatar_R{
    float: right;
    width: 46px;
    h4{
      font-size: 15px;
      text-decoration: none;
      font-weight: bold;
  color: black;
    }
  }
  .chat_box{
    .chat_message{
      list-style-type: none;
      padding: 0;
      display: inline-block;
      height: 400px;
      width: 96%;
      overflow: auto;
      overflow-x: hidden;
      .chat_messageList{
        padding: 10px;
        .img_avatar{
          float: left;
          width: 46px;
          img{
            width: 28px;
          }
        }
        p{
          .person{
            display: block;
            color: #292f35;
            font-weight: bold;
            font-size: 14px;
            float: left;
            cursor: pointer;
            margin-right: 15px;
            text-transform: capitalize;
            line-height: 18px;
            .checkProfile{
              text-decoration: none;
              outline: none;
              color: #292f35;
            }
          }
          .time {
            float: right;
            color: dimgrey;
            line-height: 18px;
          }
        }
        .text_message{
          font-size: 12px;
          font-weight: 500;
          line-height: 15px;
          margin-left: 48px;
          clear: both;
          margin-bottom: 5px;
        }
      }
      .chat_messageList:nth-child(even){
        background: #e8e8e8;
      }
    }
  }
  .message_input {
    padding: 10px;
    textarea {
      border: none;
      height: 102px;
      box-sizing: border-box;
      outline-width: 0;
      padding: 10px;
      font-size: 14px;
      width: 78% !important;
      border-radius: inherit;
      border-radius: 2px;
      background: #e8e8e8;
      border: 0px;
      padding: 10px 5px 6px 15px;
      line-height: 11px;
      /* margin-left: 15px; */
      resize: none;
      border: 1px solid #e8e8e8;
      outline: none;
    }
    #chatBtn{
      width: 20%;
      font-size: 12px;
      background: #ebebeb;
      padding: 2px;
      box-shadow: none;
      height: 40px;
      border-radius: inherit;
      background: #292f35;
      border: navajowhite;
      margin-top: 0;
      svg{
        color: #fff;
  
      }
    }
  }
  
  .online_chat{
    min-height: 400px;
    overflow: auto;
  
  }
  
  
  /* width */
  ::-webkit-scrollbar {
    width: 7px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #292f35;
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #292f43;
  }
  .profile-card {
    border-radius: 4px;
    box-shadow: 0px 2px 6px 1px rgba(0, 0, 0, 0.18);
    display: block;
    padding: 20px 0px 0px;
    margin-bottom: 20px;
  }
  .profile-card figure {
    margin: 0px auto;
    background: #292F35;
    width: 64px;
    height: 64px;
    text-align: center;
    line-height: 60px;
    border-radius: 50%;
  }
  .profile-card figure i {
    font-size: 32px;
    color: #fff;
    vertical-align: middle;
  }
  
  .profile-card table i {
    font-size: 22px;
      margin-right: 17px;
  }
  
  .profile-card h3 {
    font-size: 18px;
    text-align: center;
    color: #000;
    margin: 20px auto;
    text-transform: uppercase;
    font-family: var(--head-font);
    font-weight: 700;
  }
  
  #popup{
    background: #000000c9;
    padding: 5px;
    .chat_section{
      background: #292F35;
      .popup_header{
        height: 40px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        color: #fff;
  
        .close {
          position: absolute;
          right: 7px;
          width: 24px;
          height: 28px;
          opacity: 0.5;
        }
        .close:hover {
          opacity: 1;
        }
        .close:before, .close:after {
          position: absolute;
          right: 7px;
          content: ' ';
          height: 28px;
          width: 2px;
          background-color: #fff;
        }
        .close:before {
          transform: rotate(45deg);
        }
        .close:after {
          transform: rotate(-45deg);
        }
  
      }
    }
  }
  
  .chat_box{
    .chat_message{
      list-style-type: none;
      padding: 0;
      display: inline-block;
      height: 400px;
      width: 96%;
      overflow: auto;
      overflow-x: hidden;
      .chat_messageList{
        padding: 10px;
        .img_avatar{
          float: left;
          width: 46px;
          img{
            width: 28px;
          }
        }
        p{
          .person{
            display: block;
            color: #292f35;
            font-weight: bold;
            font-size: 14px;
            float: left;
            cursor: pointer;
            margin-right: 15px;
            text-transform: capitalize;
            line-height: 18px;
            .checkProfile{
              text-decoration: none;
              outline: none;
              color: #292f35;
            }
          }
          .time {
            float: right;
            color: dimgrey;
            line-height: 18px;
          }
        }
        .text_message{
          font-size: 12px;
          font-weight: 500;
          line-height: 15px;
          margin-left: 48px;
          clear: both;
          margin-bottom: 5px;
        }
      }
      .chat_messageList:nth-child(even){
        background: #e8e8e8;
      }
    }
  }
  .message_input {
    padding: 10px;
    textarea {
      border: none;
      height: 102px;
      box-sizing: border-box;
      outline-width: 0;
      padding: 10px;
      font-size: 14px;
      width: 78% !important;
      border-radius: inherit;
      border-radius: 2px;
      background: #e8e8e8;
      border: 0px;
      padding: 10px 5px 6px 15px;
      line-height: 11px;
      /* margin-left: 15px; */
      resize: none;
      border: 1px solid #e8e8e8;
      outline: none;
    }
    #chatBtn{
      width: 20%;
      font-size: 12px;
      background: #ebebeb;
      padding: 2px;
      box-shadow: none;
      height: 40px;
      border-radius: inherit;
      background: #292f35;
      border: navajowhite;
      margin-top: 0;
      svg{
        color: #fff;
  
      }
    }
  }
  
  .online_chat{
    min-height: 400px;
    overflow: auto;
  
  }
  
  
  /* width */
  ::-webkit-scrollbar {
    width: 7px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #292f35;
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #292f43;
  }
  #fade {
    display: none;
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 1001;
    -moz-opacity: 0.8;
    opacity: .80;
    filter: alpha(opacity=80);
  }
  
  #light {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    max-width: 600px;
    max-height: 360px;
    margin-left: -300px;
    margin-top: -180px;
    border: 2px solid #FFF;
    background: #FFF;
    z-index: 1002;
    overflow: visible;
  }
  
  #boxclose {
    float: right;
    cursor: pointer;
    color: #fff;
    border: 1px solid #AEAEAE;
    border-radius: 3px;
    background: #222222;
    font-size: 31px;
    font-weight: bold;
    display: inline-block;
    line-height: 0px;
    padding: 11px 3px;
    position: absolute;
    right: 2px;
    top: 2px;
    z-index: 1002;
    opacity: 0.9;
  }
  
  .boxclose:before {
    content: "×";
  }
  
  #fade:hover ~ #boxclose {
    display:none;
  }
  
  #back{
    position: absolute;
    top: 52px;
    left: 10px;
    background: #141433;
    color: white;
    z-index: 100;
    font-weight: 600;
    font-size: 14px;
    // padding: 2px;
    border: 1px solid #060a39;
    border-radius: 25px;
    cursor: pointer;
    margin-left: 0px;
    a{
        text-transform: capitalize;
        color: white;
    }
  }
  
  
  #modal-video{
    border-radius:5px; 
    padding: 0 3px;   
    position: relative;
    top: 3px;
    #closePopup{
        position: absolute;
        top: -16px;
        right: -16px;
        line-height: 24px;
        font-size: 30px;
        background: #e40e38;
        border-radius: 50%;
        height: 30px;
        width: 30px;
        text-align: center;
        color: white;
        font-weight: 500;
        z-index: 1000;
        cursor: pointer;
    }
  }
  
  .booth-icons-box {
    position: absolute;
    // top: 34%;
         top: 40%;

    left: 0%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }
  .booth-icons-box .booth-icon-link {
    color: #000;
    background: #fff;
    border-radius: 4px;
    padding: 5px 60px 5px 20px;
    margin-bottom: 30px;
    position: relative;
    box-shadow: 2px 3px 10px 0px rgba(0 0 0 / 40%);
    display: flex;
    transition: transform .3s linear;

    // color: #000;
    // background: #fff;
    // border-radius: 4px;
    // padding: 5px 60px 5px 20px;
    // margin-bottom: 30px;
    // position: relative;
    // box-shadow: 2px 3px 10px 0 rgb(0 0 0 / 40%);
    // display: flex;
    // transition: transform .3s linear;
  }
  .booth-icons-box .booth-icon-link span {
    width: 48px;
    position: absolute;
    right: -10px;
    background: #fff;
    top: -8px;
    border-radius: 50%;
    padding: 8px;
  }
  .booth-icons-box .booth-icon-link span img {
    width: 100%;
  }
  .booth-icons-box .booth-icon-link:hover {
    transform: translateX(10px);
    background: #28a745;
    color: #fff;
  }
  a{
    text-decoration: none;
  }
  // #socialicons{
  //   position: absolute;
  //     top: 35%;
  //     right: 100px;
  //     display: grid;
  //     img{
  //       transform: scale(.75);
  //       transition: .3s;
  //       padding: 1px;
  //     }
  //     img:hover{
  //       transform: scale(.9);
  //       transition: .3s;
  //     }
  // }
  #socialicons{
    position: absolute;
      top: 35%;
      right: 100px;
      display: grid;
      img{
        transform: scale(.75);
        transition: .3s;
        padding: 1px;
      }
      img:hover{
        transform: scale(.9);
        transition: .3s;
      }
  }
  @media only screen and (max-width: 768px) {
    #bg{
      position: relative;
      width: 100%;
      height: 100%;
      #bgImg{
        width: calc(100vw - 100px)!important;
        margin-left: 50px !important;
      }
      #setting{
        width: calc(100vw - 100px)!important;
        margin-left: 50px !important;
        .logo2 {
          img{
            width: calc((100vw - 100px)*.23221)!important;
          }
        }      
        .logo1{
          img{
            width: calc((100vw - 100px)*.1115)!important;
          }
        }
        .creatve1, .creatve2, .creatve3{
          img{       
            width: calc((100vw - 100px)*.11999) !important;
          }
        }
      }
    }
    #socialicons{
      right:70px;
        img{
          width: 33px;
          padding: 3px;
    }
    }
  }

  .rightMenu{
    position: absolute;
    right: 0;
    top: 30%;
    z-index: 999;
    text-align: center;
    // padding: 20px 10px;
    padding: 20px 4px;
    color: #fff;
    background: rgba(0,0,0,.3);
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
a {
  text-decoration: none;
  color: #007bff;
  font-family: Montserrat,sans-serif!important;
    font-weight: 700;
}
ul{ margin-top: 0;}
ul.list-unstyled {
  padding-left: 0;
  list-style: none;
}
li{font-family: Montserrat,sans-serif!important;
  font-weight: 700;}
  .text-white {
    color: #fff!important;
    box-sizing: border-box;
}

//sedul call
