<!-- Modal -->
<div class="modal fade" id="eventHallChatModal" tabindex="-1" role="dialog" aria-labelledby="eventHallChatModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content" style="border:none; background:transparent;">
      <div class="modal-body p-0">
        <div id="closeChat">
          <button (click)="closeChat()">&times;</button>
        </div>
        <section id="section">
          <div id="content-wrap">
            <div id="background" style="overflow: hidden;">
              <!-- <img src="../../../../assets/ipf/images/chat/bg.png" width="100%" alt=""> -->

              <div id="band">
                <img id="bandImg" src="../../../../assets/ipf/images/chat/band.jpg" alt="">
                <div id="topic">
                  Group Chat
                </div>
              </div>
              <div id="chatSection">
                <div id="chatbox" #scrolled [scrollTop]="scrolled.scrollHeight">
                  <ul id="data">
                    <ng-container *ngFor="let chat of messageList">
                      <li id="datalist">
                        <div id="chatmsg" [ngClass]="(user_name===chat.user_name)?'psuedoleft':'psuedoright'"
                          [ngStyle]="{'float':(user_name===chat.user_name)?'right':'left', 'width':'57%'}">
                          <div id="u_icon"><img src="/assets/ipf/icons/user2.png" width="36" alt=""></div>
                          <div id="u_msg">
                            <div id="u_name">{{chat.user_name}}</div>
                            <!-- <div style="color: #838484;">{{chat.company}}</div> -->
                            <p>{{chat.chat_data}}</p>
                          </div>
                        </div>
                      </li>
                    </ng-container>
                  </ul>
                </div>
                <div id="inputText">
                  <input type="text" [formControl]="topicText" (keyup.enter)="postTopicChat(topicText.value)">
                  <button type="submit" (click)="postTopicChat(topicText.value)">SEND</button>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</div>