<div style="margin-left: auto; margin-right: auto; padding-top: 2.5vh; width: 100%;">
  <img src="assets/fasenra/inside-strip-1-1.png" style="width: 100%; position: relative;
  top: 18px;
  padding: 15px 0px;">
  <!-- <img src="https://re-invest.in/wp-content/uploads/2018/02/inside-strip-1-1.png" alt="">  -->
  <div id="heading">
      <div>
        My Appointments
      </div>
    </div>
<div style="overflow-y: scroll; position: relative; height: 550px;">
  <table>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Scheduled Time</th>
      <th>Join Call</th>
    </tr>
   <tr *ngFor="let item of callList">
  <td>{{item.name}}</td>
  <td>{{item.email}}</td>
  <td>{{item.time}}</td>
  <td> <a href="{{item.channel}}" target="_blank" rel="noopener noreferrer">
      <i class="fa fa-video-camera" style="color:black; font-size: 25px; text-align: center;"></i>
     </a> </td>
   </tr>
   <tr *ngFor="let user of callListattendee">
    <td>{{user.name}}</td>
    <td>{{user.email}}</td>
    <td>{{user.time}}</td>
    <td> <a href="{{user.channel}}" target="_blank" rel="noopener noreferrer">
        <i class="fa fa-video-camera" style="color:black; font-size: 25px; text-align: center;"></i>
       </a> </td>
     </tr>
  </table>
</div>
</div>

