table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }
  #heading{
    position: absolute;
    top: 30px;
    left: 0px;
    right: 0px;
    width: 100%;
    text-align: center; 
    // transform: translate(-6%);
    div{
      color: white;
      font-size: 24px;
      padding-top: 23px;
    }

  }
  #back{
    position: absolute;
    top: 10px;
    left: 10px;
    background: #141433;
    color: white;
    z-index: 100;
    font-weight: 600;
    font-size: 14px;
    // padding: 2px;
    border: 1px solid #060a39;
    border-radius: 25px;
    cursor: pointer;
    margin-left: 0px;
    a{
        text-transform: capitalize;
        color: white;
    }
  }