<section>
    <div class="container-fluid" id="bg">
        <div class="row">
            <div class="col-md-12">
                <!-- <div class="logo">
                    <img src="assets/ipf/images/logo.png" alt="">
                </div> -->
                <div style="margin-top: 10%;"></div>
            </div>
            <div class="col-md-12 mt-5">
                <div class="row justify-content-md-left">
                    <div class="col-4 pl-5 pr-5">
                        <div id="loginSection">
                            <div style="background: #fff; color: #ec4040d6; text-align: center; line-height: 39px;border-radius: 5px; font-weight: 600" *ngIf="invalidLogin">{{invalidLogin}}</div>
                            <form action="" [formGroup]="loginForm" #formDir="ngForm" (ngSubmit)="loggedIn()">
                                <div class="form-group">
                                    <label >NAME:</label>
                                    <input type="text" class="form-control" formControlName="name" aria-describedby="emailHelp">                                 
                                    <div *ngIf="(loginForm.get('name').invalid && formDir.submitted) || (loginForm.get('name').dirty && loginForm.get('name').invalid)" style="color:#f2c652; font-size: 12px;">Name is required*</div>
                                </div> 
                                <div class="form-group">
                                    <label >EMAIL ID:</label>
                                    <input type="email" class="form-control" formControlName="email" aria-describedby="emailHelp">                                 
                                    <div *ngIf="(loginForm.get('email').invalid && formDir.submitted) || (loginForm.get('email').dirty && loginForm.get('email').invalid)" style="color:#f2c652; font-size: 12px;">Email is required*</div>
                                </div>
                                <!-- <div class="form-group">
                                    <label >PR ID</label>
                                    <input type="text" class="form-control" formControlName="pr" aria-describedby="emailHelp">                                 
                                    <div *ngIf="(loginForm.get('pr').invalid && formDir.submitted) || (loginForm.get('pr').dirty && loginForm.get('pr').invalid)" style="color:#f2c652; font-size: 12px;">PR ID is required*</div>
                                </div>   -->
                                <div id="submit-btn">
                                    <button class="btn" type="submit">LOGIN</button>
                                </div>                       
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>