.container-fluid{
  background: #f2f2f2;
  border: 3px solid black;

}
.close {
  position: absolute;
  top: 15px;
  right: 7px;
  width: 24px;
  height: 28px;
  opacity: 0.5;
}
.close:hover {
  opacity: 1;
}
.close:before, .close:after {
  position: absolute;
  right: 7px;
  content: ' ';
  height: 28px;
  width: 2px;
  background-color: #000;
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}
.users_data {
  height: 70vh;
  overflow-y: auto;
  margin-bottom: 15px;
  .user-profile-row {
      width: 100%;
      display: flex;
      align-items: center;
      background-color: #fff;
      margin: 0;
      padding: 8px;
      .user-profile-data {
          width: 85%;
          display: inline-block;
          .user-profile-image {
              width: 48px;
              float: left;
          }
          .user-profile-info {
              max-width: 70%;
              float: left;
          }
          .user-profile-name {
              font-size: 14px;
              font-weight: 600;
              margin-bottom: 0px;
              line-height: 15px;
              color: #000;
              text-transform: capitalize;
              a{
                  text-decoration: none;
                  outline: none;
                  color: var(--primary-color);
              
              }
          }
          .user-profile-join {
              font-size: 14px;
              font-weight: 600;
              margin-bottom: 5px;
              line-height: 15px;
              color: #000;
              text-transform: capitalize;
              a{
                  text-decoration: none;
                  outline: none;
                  color: var(--primary-color);
              
              }
          }
          .user-profile-company {
              font-size: 12px;
              font-weight: 400;
              line-height: 13px;
              color: #000;
              margin-bottom: 0px;
          }
          
      }
  }
  .user-profile-row:nth-child(even) {
      background-color: #f2f2f2;
  }
}
.time-part {
  flex: 0 0 50%;
  max-width: 50%;
}
.time-part .time-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  height: 300px;
}
.time-part .time-list li {
  margin: 5px 10px;
  text-align: center;
  min-width: 150px;
  line-height: 35px;
}
.time-part .time-list li a {
  color: #333;
  padding: 0px 30px;
  font-size: 14px;
  display: block;
  background: #fff;
  border-radius: 4px;
  border: 1px solid #e0e0e0;
  transition: all .3s linear;
}
.time-part .time-list li  a:hover {
  text-decoration: none;
  outline: none;
  background: #000000c9;
  color:white;
}

.confirm-btn {
  display: table;
  background: rgba(0, 0, 0, 0.7);
  padding: 10px 30px;
  border-radius: 4px;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
  margin: 30px auto 15px;
  color: #fff;
  outline: none;
  border: 0;
  transition: all 300ms linear;
}
.active {
  background: rgba(0, 0, 0, 0.7) !important;
border: 1px solid rgba(0, 0, 0, 0.7) !important;
color: #fff !important;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #292f35;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #292f43;
}
#popup{
  max-height: 100%;
  background: #000000c9;
  padding: 5px;
  .chat_section{
    background: #292F35;
    .popup_header{
      height: 40px;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      color: #fff;

      .close {
        position: absolute;
        right: 7px;
        width: 24px;
        height: 28px;
        opacity: 0.5;
      }
      .close:hover {
        opacity: 1;
      }
      .close:before, .close:after {
        position: absolute;
        right: 7px;
        content: ' ';
        height: 28px;
        width: 2px;
        background-color: #fff;
      }
      .close:before {
        transform: rotate(45deg);
      }
      .close:after {
        transform: rotate(-45deg);
      }

    }
  }
}
