
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 col-xl-12" style="background:#d7a322; color:#fff">
            <div class="text-center p-3">
                <h5>ATTENDEES</h5>
                <a class="close" (click)="closePopup()"></a>

            </div>
        </div>
    </div>
    <div class="row">

        <div class="col-md-4">
            <label>Search</label>
            <input class="form-control" [(ngModel)]="names" (keyup)="filterData(names)" style="margin-bottom: 12px;"
                type="text" placeholder="Filter Result">
        </div>
        <div class="col-md-8">
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="sel1">Core Sector</label>
                        <select class="form-control" id="sel1" name="sel1" [formControl]="core_sector" (change)="onSelectChange($event.target.value, 'csect')">
                            <!-- <option value="choose" >Choose Sector</option> -->
                            <!-- <option *ngFor="let cs of coreSelectorArr;let i=index" [ngValue]="cs.value" [disabled]="i===0">{{cs.name}}</option> -->
                        </select>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="">Core Business</label>
                        <!-- <select class="form-control" id="sel1" [formControl]="core_business" (change)="onSelectChange($event.target.value, 'cbusi')"> -->
                            <!-- <option [ngValue]="null" disabled>Choose Business</option> -->
                            <!-- <option *ngFor="let cb of coreBusinessArr; let i=index" [ngValue]="cb.value" [disabled]="i===0">{{cb.name}}</option> -->
                        <!-- </select> -->
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group" style="display: table-caption">
                        <label for="sel1">Clear All</label>
                        <button class="btn btn-secondary" (click)="clearAll()">Clear All</button>
                    </div>
                </div>
            </div>
            <!-- <form [formGroup]="form" (ngSubmit)="onSubmit()">
                <div class="form-row align-items-center">
                    <div class="col-5 my-1">

                        <div class="form-group">
                            <label for="sel1">Core Selector</label>
                            <select class="form-control" id="sel1" formControlName="core_sector">
                                <option [ngValue]="null" disabled>Choose Sector</option>
                                <option *ngFor="let cs of coreSelectorArr" [ngValue]="cs">{{cs}}</option>
                            </select>
                        </div>
                        <div class="form-check">

                        </div>
                    </div>
                    <div class="col-4 my-1">

                        <div class="form-group">
                            <label for="">Core Business</label>
                            <select class="form-control" id="sel1" formControlName="core_business">
                                <option [ngValue]="null" disabled>Choose Business</option>
                                <option *ngFor="let cb of coreBusinessArr" [ngValue]="cb">{{cb}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-3 my-1">
                        <button [disabled]="true?form.invalid:false" type="submit" class="btn btn-success" style="margin-top:.7rem">Go</button>
                    </div>
                </div>
            </form> -->
        </div>
        <!-- <div class="col-md-3">
            <label>Core Sector</label>
            <div class="form-check">
                <input class="form-check-input" #mbm type="checkbox" id="inlineCheckbox1" (change)="changeCheckbox(mbm.value)"
                    >
                <label class="form-check-label" for="inlineCheckbox1">MBM</label>
            </div>
        </div>
        <div class="col-md-3">
            <label>Core Business</label>
            <div class="form-check">
                <input type="checkbox" #mlm class="form-check-input" id="exampleCheck2" (change)="changeCheckboxmlm(mlm.value)">
                <label class="form-check-label" for="exampleCheck1">MLM</label>
            </div>
        </div>
        
        <div class="col-md-2">
                <label></label>
                <div class="form-check">
                    <button class="btn btn-success" (click)="getReinvestAttendees()">Go</button>
                </div>
            </div> -->
        <!-- <div class="col-md-4">
            <label>Country</label>
            <div class="form-check">
                <input class="form-check-input" #checkboxes type="checkbox" id="inlineCheckbox1" (change)="changeCheckbox('india')">
                <label class="form-check-label" for="inlineCheckbox1">India</label>
            </div>
        </div> -->
        <div class="col-md-12 col xl-12">
            <!-- <div class="col-md-4">
            <label>Search</label>
            <input class="form-control" [(ngModel)]="names" (keyup)="filterData(names)" style="margin-bottom: 12px;" type="text" placeholder="Filter Result">
          </div> -->
            <div class="users_data">
                <div class="user-profile-row" *ngFor="let user of attendees" id="user_row_500">
                    <div class="user-profile-data">
                        <div class="user-profile-image"> <img class="img-responsive user-profile-img" src="assets/fasenra/Attendees.png"
                                width="32">
                        </div>
                        <div class="user-profile-info">
                            <p class="user-profile-name"><a href="javascript:void(0);">{{user.name}}</a></p>
                            <span class="float-right">
                                <p style="padding-left: 490px;" class="user-profile-join" title="Schedule a call" data-toggle="modal" data-target=".scheduleCallmodal"><a href="javascript:void(0);" (click)="getUserid(user.id)"><i class="fa fa-calendar" style="font-size: 20px;"></i></a></p>
                            </span>
                            <p class="user-profile-company"><span *ngIf="user.company===''">Others</span><span style="    position: relative;
                                top: -15px;" *ngIf="user.company!==''">{{user.company}}</span></p>
                            <p class="user-profile-company"><span *ngIf="user.designation===''">Others</span><span style="    position: relative;
                                top: -15px;" *ngIf="user.designation!==''">{{user.designation}}</span></p>
                            <!-- <p class="user-profile-join" title="Schedule a call" data-toggle="modal" data-target=".scheduleCallmodal"><a href="javascript:void(0);">join</a></p> -->
                            <!-- <span style="position: absolute; right: 10%;" title="Schedule a call" data-toggle="modal" data-target=".scheduleCallmodal">
                                <div class="pulsating-circle"></div>
                            </span> -->
                        </div>
                        <div class="user-profile-info">
                            <!-- <p style="padding-left: 490px;" class="user-profile-join" title="Schedule a call" data-toggle="modal" data-target=".scheduleCallmodal"><a href="javascript:void(0);" (click)="getUserid(user.id)"><i class="fa fa-calendar" style="font-size: 20px;"></i></a></p> -->
                            <!-- <span style="position: absolute; right: 10%;" title="Schedule a call" data-toggle="modal" data-target=".scheduleCallmodal">
                                <div class="pulsating-circle"></div>
                            </span> -->
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>



<div class="modal fade scheduleCallmodal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
  
        <div class="container-fluid" id="popup">
          <div class="row">
            <div class="col-md-12 col-xl-12">
              <div class="chat_section">
                <div class="popup_header">
                  <h6 style="text-transform: uppercase;">SCHEDULE A CALL</h6>
                  <a class="close" (click)="closeCall()"></a>
                </div>
                <div class="container-fluid" style="  background: #f2f4f7;">
              <h4 style="padding-top: 12px;">Select a Date & Time</h4>
               <div class="row pt-2">
                 <div class="col-md-6">
                      <div class="calendar-part">
                        <ngb-datepicker [minDate]="{year: 2020, month: 11, day: 1}" [maxDate]="{year: 2020, month: 11, day: 30}"
                          #dp [(ngModel)]="model" (navigate)="date = $event.next" (dateSelect)="onDateSelect($event)"></ngb-datepicker>
                      </div>
                      <!-- <pre>Model: {{ model | json }}</pre> -->
                    </div>
                    <div class="col-md-6" style="overflow-y: scroll;">
                      <div class="time-part">
  
                        <ul class="time-list mCustomScrollbar _mCS_4" id="list">
                          <div id="mCSB_4" class="mCustomScrollBox mCS-light mCSB_vertical mCSB_inside" tabindex="0"
                            style="max-height: none;">
                            <div id="mCSB_4_container" class="mCSB_container" style="position:relative; top:0; left:0;"
                              dir="ltr">
  
                              <li *ngFor="let times of newTimeSlots">
                                <a *ngIf="times.flag =='enabled'" (click)="getTime($event,'active',times.time)" href="javascript:void(0);"
                                  class="time_a" data-val=times.time>{{times.time}}</a>
  
                                <!-- <a  href="javascript:void(0);" disabled="disabled"
                                class="time_a btn-disabled">{{times.time}}</a> -->
  
                                <a *ngIf="times.flag =='disabled'" disabled="disabled" href="javascript:void(0);" class="time_a btn-disabled"
                                  data-val=times.time>{{times.time}}</a>
                              </li>
                              
                            </div>
                            <div id="mCSB_4_scrollbar_vertical" class="mCSB_scrollTools mCSB_4_scrollbar mCS-light mCSB_scrollTools_vertical"
                              style="display: block;">
                              <div class="mCSB_draggerContainer">
                                <div id="mCSB_4_dragger_vertical" class="mCSB_dragger" style="position: absolute; min-height: 30px; display: block; height: 149px; max-height: 290px; top: 0px;">
                                  <div class="mCSB_dragger_bar" style="line-height: 30px;"></div>
                                </div>
                                <div class="mCSB_draggerRail"></div>
                              </div>
                            </div>
                          </div>
                        </ul>
  
                      </div>
                    </div>
                    <button class="confirm-btn" id="confirm_button" type="button" (click)="confirm()">Confirm</button>
                  </div>
  
  
  
  
  
  
  
                  <!-- <div class="col-md-1 col-xl-1">
                <div class="online_chat"></div>
              </div> -->
  
                </div>
              </div>
            </div>
          </div>
          <script>
            $('#datepicker').datepicker({
              uiLibrary: 'bootstrap4'
            });
          </script>
  
        </div>
      </div>
    </div>
  </div>