#pointer_1,#pointer_2,#pointer_3,#pointer_4,#pointer_5,#pointer_6,#pointer_7,#pointer_8,#pointer_9{
    position: absolute;
    // top: 31%;
    // width: 6%;
    height: 24%;
    cursor: pointer;
}
#pointer_1{
    left: 4%;
    top: 47%;
    width: 20%;
}
#pointer_2{
    top: 33%;
    width: 6%;
    left: 27%;
}
#pointer_3{
    top: 33%;
    width: 6%;
    left: 67%;
}
#pointer_4{
    top: 47%;
    width: 20%;
    right: 4%;
}
#pointer_5{
    left: 46%;
}
#pointer_6{
    left: 52.5%;
}
#pointer_7{
    left: 59.5%;
}
#pointer_8{
    left: 66.5%;
}
#pointer_9{
    left: 74%;
}
#player_sec{
    position: absolute;  
    top: 33%;
    left: 37.15%;
    vg-player{
        width: 25.5vw;
    height: 30vh;
  border-radius: 5px;
    }
  }