#pointer{
    position: absolute;
    top: 50%;
    left: 47%;
    width: 5%;
    height: 5%;
    cursor: pointer;
    .pulsating-circle{
        position: absolute;
        top: 50%;
        left: 50%;
    }
}
#wholeCam{
    #camImg{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
    }
    #videobgStream{
        width: 100%;
    }
    
}
#buttons{
    text-align: center;
    justify-content: center;
    width: 100%;
    img{
        padding: 15px;
        cursor: pointer;
    }
}