.bg {
    // background-image: url(../../../../assets/img/Exhibition/Exhibition3.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 100%;
    height: 100vh;
    background-color: #2d2b21;
    animation: opac .5s;
  
    // position: relative;
  }
  section{
    position: relative;
    width: 100%;
    height: 100%;
    #content{
      position: relative;
      #exhibition_content{
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        height: 100%;
        width: 100%;
        max-width: 100%;
        margin: auto;
        #fullBg{
          position: relative;
          height: 100%;
          width: 100%;
          display: block;
          img{
            width: 100vw;
            height: 100vh;
          }
        }
      }
    }
  }
  @keyframes opac {
    from{
        opacity: 0;
    } to {
        opacity: 1;
    }
  }
  
  .dareToInnovative{
    position: absolute;
    top: 44%;
    left: 30%;
    // background: black;
    cursor: pointer;
    height: 2vw;
    width: 3vw;
    .pulsating-circle{
        position: absolute;
        top: 50%;
        left: 50%;
    }
  }
  .lilly_4{
    position: absolute;
    // top: 48%;
    // left: 25%;
    // // background: black;
     cursor: pointer;
    // height: 8vw;
    // width: 8vw;
    height: 2vw;
    width: 3vw;
      top: 62%;
      left: 32%;
    .pulsating-circle{
        position: absolute;
        top: 50%;
        left: 50%;
    }
  }
  .lilly_5{
    position: absolute;
    top: 50%;
    left: 44%;
    // background: black;
    cursor: pointer;
    height: 2vw;
    width: 3vw;
    .pulsating-circle{
        position: absolute;
        top: 50%;
        left: 50%;
    }
  }
  .lilly_6{
    position: absolute;
    top: 49%;
    left: 67%;
    // background: black;
    cursor: pointer;
    height: 2vw;
    width: 3vw;
    .pulsating-circle{
        position: absolute;
        top: 50%;
        left: 50%;
    }
  }
  .lilly_7{
    position: absolute;
    top: 40%;
      left: 20%;
    // background: black;
    cursor: pointer;
    height: 2vw;
    width: 3vw;
    .pulsating-circle{
        position: absolute;
        top: 50%;
        left: 50%;
    }
  }
  .lilly_8{
    position: absolute;
    top: 39%;
      left: 36%;
    // background: black;
    cursor: pointer;
    height: 2vw;
    width: 3vw;
    .pulsating-circle{
        position: absolute;
        top: 50%;
        left: 50%;
    }
  }
  .lilly_9{
    position: absolute;
    top: 39%;
      left: 55%;
    // background: black;
    cursor: pointer;
    height: 2vw;
    width: 3vw;
    .pulsating-circle{
        position: absolute;
        top: 50%;
        left: 50%;
    }
  }
  .lilly_10{
    position: absolute;
    top: 39%;
      left: 70%;
    // background: black;
    cursor: pointer;
    height: 2vw;
    width: 3vw;
    .pulsating-circle{
        position: absolute;
        top: 50%;
        left: 50%;
    }
  }
  .lilly_11{
    position: absolute;
    // top: 58%;
    //   left: 29%;
    top: 50%;
      left: 22%;
    // background: black;
    cursor: pointer;
    height: 2vw;
    width: 3vw;
    .pulsating-circle{
        position: absolute;
        top: 50%;
        left: 50%;
    }
  }
  .lilly_12{
    position: absolute;
    top: 34%;
      left: 46%;
    // background: black;
    cursor: pointer;
    height: 8vw;
    width: 8vw;
    .pulsating-circle{
        position: absolute;
        top: 50%;
        left: 50%;
    }
  }
  .lilly_13{
    position: absolute;
    top: 34%;
      left: 64%;
    // background: black;
    cursor: pointer;
    height: 8vw;
    width: 8vw;
    .pulsating-circle{
        position: absolute;
        top: 50%;
        left: 50%;
    }
  }
  .growBySharing{
    position: absolute;
    top: 43%;
    left: 36%;
    // background: black;
    cursor: pointer;
    height: 8vw;
    width: 8vw;
    .pulsating-circle{
        position: absolute;
        top: 50%;
        left: 50%;
    }
  }
  .commitToSucceed{
    position: absolute;
    top: 41%;
    right: 31%;
    // background: black;
    cursor: pointer;
    height: 2vw;
    width: 3vw;
    .pulsating-circle{
        position: absolute;
        top: 50%;
        left: 50%;
    }
  }
  .care{
    position: absolute;
    top: 62%;
    right: 16%;
    // background: black;
    cursor: pointer;
    height: 2vw;
    width: 3vw;
    .pulsating-circle{
        position: absolute;
        top: 50%;
        left: 50%;
    }
  }