
<section>
    <div id="content">
        <div id="exhibition_content">
            <div id="fullBg">
              
                <img src="assets/fasenra/Exhibition.jpg" alt="">
            </div>
            <!-- <div style="position: absolute;  top: 22%; left: 32%;" *ngIf="liveMsg">
                <div class="alert alert-success " role="alert">
                    The session is Live now, please join us at the auditorium.
                </div>
              </div> -->
            <div>
                <div class="dareToInnovative" (click)="gotoCommitToSucceed('628')">
                    <div class="pulsating-circle"></div>
                </div>
                <div class="commitToSucceed" (click)="gotoCommitToSucceed('629')">
                    <div class="pulsating-circle"></div>
                </div>
               
             
                
            </div>
        </div>
    </div>
</section>