
  
  <!-- Modal -->
  <div class="modal fade" id="agendaModal" tabindex="-1" role="dialog" aria-labelledby="agendaModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content" style="border:none">
        <div class="modal-body p-0">
          <section>
            <div id="content">
                <div id="background">
                  <img id="bgImg" src="assets/ipf/images/agenda/day-{{agendaDay}}.png" width="100%" alt="">
                  <div id="download">
                    <!-- <a href="assets/ipf/images/agenda/day-{{agendaDay}}.pdf" download="agenda.pdf">
                      <img src="{{agenda}}" width="36" alt="">
                    </a> -->
                    <a href="assets/ipf/images/agenda/agenda.pdf" download="agenda.pdf">
                      <img src="{{agenda}}" width="36" alt="">
                    </a>
                  </div>
                </div>
                <div id="buttons">
                  <div id="left">
                      <i class="fa fa-angle-left" id="previous" (click)="showprevious()"></i>
                  </div>
                  <div id="right">
                      <i class="fa fa-angle-right" id="next" (click)="shownext()"></i>
                  </div>
                </div>
            </div>
          </section>
        </div>
      </div>
    </div>
  </div>