<section id="section">
    <div id="content-wrap">
        <div id="background">
            <div id="playerPoint">
                <div id="player-wrapper" class="player-container"></div>
            </div>
        

        <!-- <div id="chatopen" routerLink="/eventhall/chat">CHAT</div> -->
        <div id="listItems">
            <ul>
                <li>
                    <a routerLink="/eventhall/qna">Q&A</a>
                </li>
                <li>
                    <a routerLink="/eventhall/eventHallChat">Chat</a>
                </li>
                <!-- <li>
                    <a routerLink="/eventhall/HallChat">Chat2</a>
                </li> -->
                <li>
                    <a (click)="clapping()">Clap</a>
                </li>
                <li>
                    <a (click)="whistling()">Whistle</a>
                </li>

                <li>
                    <a data-toggle="modal" data-target=".quizModal"><img src="assets/icons/navigation-h.png" alt="">
                        quiz
                    </a>
                </li>

                <!-- <li>
                    <a (click)= "likeopen()">Like
                    
                    </a>
                </li> -->
            </ul>
        </div>
        <!-- <div id="hallChat" routerLink="/eventhall/eventHallChat">CHAT</div>
        <div id="chatopen" routerLink="/eventhall/qna">Q&A</div> -->
        </div>
    </div>
</section>
<router-outlet></router-outlet>
<audio id="myAudioClap">
    <source src="assets/spmcil/audio/applause.wav" type="audio/wav">
    <source src="assets/spmcil/audio/applause.mp3" type="audio/mpeg">
    Your browser does not support the audio element.
</audio>
<audio id="myAudioWhistle">
    <source src="assets/spmcil/audio/whistle.mp3" type="audio/mpeg">
    Your browser does not support the audio element.
</audio>



<div class="container-fluid" style="background-color: red;">
    <div class="row">
        <div class="animation-part">
            <section class="sticky">
                <div class="bubbles" *ngIf="like">
                    <div class="bubble"> <img
                            src="https://d3ep09c8x21fmh.cloudfront.net/assets/iffi/iffi/images/like.png" alt=""
                            srcset=""> </div>
                    <div class="bubble"> <img
                            src="https://d3ep09c8x21fmh.cloudfront.net/assets/iffi/iffi/images/like.png" alt=""
                            srcset=""> </div>
                    <div class="bubble"> <img
                            src="https://d3ep09c8x21fmh.cloudfront.net/assets/iffi/iffi/images/like.png" alt=""
                            srcset=""> </div>
                    <!-- <div class="bubble" style="background-color: #f1f1f1;"></div> -->
                    <div class="bubble"></div>
                    <!-- <div class="bubble" style="background-color: #f1f1f1;"></div> -->
                    <div class="bubble"></div>
                    <!-- <div class="bubble" style="background-color: #f1f1f1;"></div> -->
                    <div class="bubble"></div>
                    <!-- <div class="bubble" style="background-color: #f1f1f1;"></div> -->
                    <div class="bubble"><img
                            src="https://d3ep09c8x21fmh.cloudfront.net/assets/iffi/iffi/images/like.png" alt=""
                            srcset=""></div>
                    <div class="bubble"><img
                            src="https://d3ep09c8x21fmh.cloudfront.net/assets/iffi/iffi/images/like.png" alt=""
                            srcset=""></div>

                </div>

            </section>
        </div>
    </div>
</div>

