
// #pointer_1,#pointer_2,#pointer_4,#pointer_5,#pointer_6,#pointer_7,#pointer_8{
//     position: absolute;
//     width: 7%;
//     height: 7%;
//     cursor: pointer;
//     .pulsating-circle{
//         position: absolute;
//         top: 50%;
//         left: 50%;
//     }
// }
// #pointer_1{
//     top: 41%;
//     left: 26%;
// }
// #pointer_2{
//     top: 58%;
//     left: 19.5%;
// }
// #pointer_3{
//     top: 47%;
//     right: 33%;
// }
// #pointer_4{
//     top: 58%;
//     right: 19.5%;
// }
// #pointer_5{
//     top: 41%;
//     right: 26%
// }
// #pointer_6{
//     top: 83%;
//     left: 20%;
// }
// #pointer_7{
//     top: 47%;
//     right: 17.5%;
// }
// #pointer_8{
//     top: 47%;
//     right: 2.5%;
// }
// #onloadPlayer{
//     position: absolute;
//     width: 17.2%;
//     top: 39.85%;
//     left: 41.25%;
//     // box-shadow: 0px 5px 12px 0 rgba(0, 0, 0, 0.5);
// }

// #background{
//     top: -30px;
// }
// @media (min-aspect-ratio: 16/9) {
//     #lobbyBgVideo{
//       width: 100%;
//       height: auto;
//     }
//   }
  @media (max-aspect-ratio: 16/9) {
    // #lobbyBgVideo {
    //   width: auto;
    //   height: 100%;
    // }
    #background{
        top: 0px;
    }
    #onloadPlayer{
      top: calc(39.35% + 1px);
    }
  }
//   .wtsapp {
//     position: absolute;
//     bottom: 50.3%;
//     left: 13.5%;
//     cursor: pointer;
//     // background: black;
//     height: 5vw;
//     width: 3vw;
//     .pulsating-circle{
//         position: absolute;
//         top: 44%;
//         right: 60%;
//         cursor: pointer;
//     }
//   }
