<app-header></app-header>
<main>
    <div *ngIf="(livemsg) && (router.url !== '/auditorium/one')" id="livemsg" routerLink="/auditorium/one"
        title="Auditorium">
        <p>Event is about to start. Kindly proceed to Auditorium</p>
    </div>
    <router-outlet></router-outlet>
</main>
<app-agenda></app-agenda>
<app-feedback></app-feedback>
<app-help-desk></app-help-desk>
<app-speakers></app-speakers>
<!-- <app-attendees></app-attendees> -->
<!-- <app-schedule-call> </app-schedule-call> -->
<div class="modal fade pollModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <app-poll></app-poll>
        </div>
    </div>
</div>
<div class="modal fade quizModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <app-kbc></app-kbc>
        </div>
    </div>
</div>


  
  <div class="modal fade attendeesModal" id="attendeesModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <app-attendees></app-attendees>
        </div>
    </div>
</div>
<div class="modal fade scheduleCallmodal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <app-schedule-call></app-schedule-call>
        </div>
    </div>
</div>