<div class="container">
    <div class="row pt-5">
        <div class="col-4 text-center pt-1" *ngFor="let msg of images; let i =index">
            <img [src]="msg.image" alt="image" width="100%">
        </div>
    </div>
</div>