<div class="container-fluid pharma" style="color: #008591;">
    <div class="row">
        <div class="col-md-12">
            <div class="logo">
                <img src="assets/ipf/images/logo.png" alt="">
                <p class="m-0">PATIENT CENTRICITY: NEW PARADIGM IN QUALITY MANAGEMENT</p>
            </div>
        </div>
        <div class="col-md-12">
            <form action="" [formGroup]="signupForm" (ngSubmit)="onSubmit()">
                <div class="registration">
                    <div class="heading">
                        <p>REGISTRATION</p>
                    </div>
                    <div class="reg_form">
                        <div class="test">
                            <div>
                                <div id="signupTest">
                                    <div class="row">
                                        <div class="col">
                                            <div class="form-group">
                                                <label >NAME OF COMPANY :</label>
                                                <input type="email" class="form-control" formControlName="company_name" aria-describedby="emailHelp" [ngClass]="{ 'is-invalid': submitted && signupForm.get('company_name').errors }">
                                                <div *ngIf="submitted && signupForm.get('company_name').errors" class="invalid-feedback">
                                                  <div *ngIf="signupForm.get('company_name').errors.required">Company Name is required*</div>
                                                </div>  
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="form-group">
                                                <label >GSTIN NO. :</label>
                                                <input type="text" formControlName="gstin_no" class="form-control" [ngClass]="{ 'is-invalid': submitted && signupForm.get('gstin_no').errors }">
                                                <div *ngIf="submitted && signupForm.get('gstin_no').errors" class="invalid-feedback">
                                                    <div *ngIf="signupForm.get('gstin_no').errors.required">GSTIN NO is required*</div>
                                                </div>  
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <div class="form-group">
                                                <label >ADDRESS OF COMPANY :</label>
                                                <input type="text" formControlName="company_address" class="form-control" aria-describedby="emailHelp" [ngClass]="{ 'is-invalid': submitted && signupForm.get('company_address').errors }">
                                                <div *ngIf="submitted && signupForm.get('company_address').errors" class="invalid-feedback">
                                                    <div *ngIf="signupForm.get('company_address').errors.required">Address is required*</div>
                                                </div> 
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="form-group">
                                                <label >STATE CODE :</label>
                                                <input type="text" formControlName="state_code" class="form-control" [ngClass]="{ 'is-invalid': submitted && signupForm.get('state_code').errors }">
                                                <div *ngIf="submitted && signupForm.get('state_code').errors" class="invalid-feedback">
                                                    <div *ngIf="signupForm.get('state_code').errors.required">State code is required*</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- <div class="row">
                                        <div class="col">
                                            <div class="form-group">
                                                <label >EMAIL ID :</label>
                                                <input type="email" formControlName="company_email" class="form-control" aria-describedby="emailHelp">
                                              </div>
                                        </div>
                                        <div class="col">
                                            <div class="form-group">
                                                <label>CONTACT NUMBER :</label>
                                                <input type="phone" minlength="1" maxlength="10" onkeyup="if (/\D/g.test(this.value)) this.value = this.value.replace(/\D/g,'')" formControlName="contact" class="form-control">
                                              </div>
                                        </div>
                                    </div> -->
                                    
                                    <div class="row">
                                        <div class="col">
                                            <div class="form-group w-50 m-auto bg-white pl-2 pr-2">
                                                <label >S.P.O.C. EMAIL ID :</label>
                                                <input type="email" formControlName="company_email" class="form-control" required [ngClass]="{'is-invalid': (signupForm.get('company_email').errors && signupForm.get('company_email').touched) || (submitted && signupForm.get('company_email').errors)}">
                                                <div class="invalid-feedback" style="position: absolute;">
                                                    <div style="position: relative;"  *ngIf="(signupForm.get('company_email').touched && signupForm.get('company_email').hasError('required'))||(signupForm.get('company_email').touched && signupForm.get('company_email').hasError('pattern'))">
                                                        Please Provide S.P.O.C Email*
                                                    </div>                                                
                                                    <div style="position: relative;" *ngIf="submitted && signupForm.get('company_email').errors" >
                                                        <div *ngIf="signupForm.get('company_email').errors.required">
                                                            S.P.O.C Email is required*
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="tick">
                        <p>*IN THE CASE OF SEZ PLEASE TICK :</p>
                        <div class="form-check form-check-inline ml-3">
                            <input class="form-check-input" type="checkbox" (change)="isChecked($event.target)" name="option1" id="inlineCheckbox1" value="option1">
                            <label class="form-check-label" for="inlineCheckbox1">Yes</label>
                        
                        </div>
                    </div>
                    <div style="position: relative;">

                        <div class="inc_div">
                            <button type="button" class="btn" style="padding: 5px 10px 5px; color: red;" (click)="removeEmployee()">-</button>
                            <span>{{noOfEmp}}</span>
                            <button type="button" class="btn" style="padding: 5px 10px 5px;  color: red;" (click)="createEmployee()">+</button>
                        </div>
                        <div class="mt-5" formArrayName="employees" *ngFor="let item of signupForm.get('employees')?.controls; let i =index">

                            <div [formGroupName]="i" class="applicants">
                                <div class="heading">
                                    <p>APPLICANTS DETAILS</p>
                                    
                                    <div class="inc_val">
                                        <span>{{i+1}}</span>
                                    </div>
                                </div>
                                <div class="reg_form">
                                    <div class="test">
                                        <div >
                                            <div class="row">
                                                <div class="col">
                                                    <div class="form-group">
                                                        <label >NAME :</label>
                                                        <input type="text" formControlName="name" class="form-control" aria-describedby="emailHelp" [ngClass]="{'is-invalid': submitted && item['controls'].name.errors}">
                                                        <div *ngIf="submitted && item['controls'].name.errors" class="invalid-feedback">
                                                            <div *ngIf="item['controls'].name.errors.required">
                                                                Name is required*
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col">
                                                    <div class="form-group">
                                                        <label >EMAIL ID  :</label>
                                                        <input type="email" formControlName="email" class="form-control" [ngClass]="{'is-invalid': item['controls'].email.errors}" >
                                                        <div *ngIf="submitted && item['controls'].email.errors" class="invalid-feedback">
                                                            <div *ngIf="item['controls'].email.errors.required">
                                                                email is required*
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col">
                                                    <div class="form-group">
                                                        <label >DESIGNATION AND DEPARTMENT :</label>
                                                        <input type="text" formControlName="designation" class="form-control" [ngClass]="{'is-invalid': item['controls'].designation.errors}" aria-describedby="emailHelp">
                                                        <div style="position: absolute;" *ngIf="submitted && item['controls'].designation.errors" class="invalid-feedback">
                                                            <div *ngIf="item['controls'].designation.errors.required">
                                                                Designation is required*
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col">
                                                    <div class="form-group">
                                                        <label >CONTACT NUMBER :</label>
                                                        <input type="phone" minlength="1" maxlength="10" onkeyup="if (/\D/g.test(this.value)) this.value = this.value.replace(/\D/g,'')" formControlName="phone" class="form-control" [ngClass]="{'is-invalid': item['controls'].phone.errors}">
                                                        <div style="position: absolute;" *ngIf="submitted && item['controls'].phone.errors" class="invalid-feedback">
                                                            <div *ngIf="item['controls'].phone.errors.required">
                                                                Contact No is required*
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                          </div>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                    <div class="applican"></div>
                    <div class="t_amt">
                       <div class="t_inner">
                        <p>Total Amount-INR</p>                
                        <div class="form-group d-flex">
                            <p class="">&#8377;</p>
                            <input type="text" readonly formControlName="totalValue" class="form-control ml-2" style="height: 25px;" id="exampleInputEmail1" aria-describedby="emailHelp">
                        </div>
                       </div>
                    </div>
                     <div class="total_value">
                         <div class="mtest">
                            <div style="width: 55%; text-align: left;">
                                <p>Registration Fee</p>
                            </div>
                            <div style="width: 15%; text-align: right;">
                               <p>:</p>
                           </div>
                           <div style="width: 15%; text-align: right;">
                               <p>&#8377;</p>
                           </div>
                           <div style="width: 15%; text-align: right;">
                               <p>10,000</p>
                           </div>
                         </div>
                     </div>
                     <div class="total_value">
                        <div class="mtest">
                           <div style="width: 55%; text-align: left;">
                               <p>Add CGST @ 9%</p>
                           </div>
                           <div style="width: 15%; text-align: right;">
                              <p>:</p>
                          </div>
                          <div style="width: 15%; text-align: right;">
                              <p>&#8377;</p>
                          </div>
                          <div style="width: 15%; text-align: right;">
                              <p>900</p>
                          </div>
                        </div>
                    </div>
                    <div class="total_value">
                        <div class="mtest">
                           <div style="width: 55%; text-align: left;">
                               <p>Add SGST @ 9%</p>
                           </div>
                           <div style="width: 15%; text-align: right;">
                              <p>:</p>
                          </div>
                          <div style="width: 15%; text-align: right;">
                              <p>&#8377;</p>
                          </div>
                          <div style="width: 15%; text-align: right;">
                              <p>900</p>
                          </div>
                        </div>
                    </div>
                    <div class="total_value">
                        <div class="mtest">
                           <div style="width: 55%; text-align: left;">
                               <p>Total Fees</p>
                           </div>
                           <div style="width: 15%; text-align: right;">
                              <p>:</p>
                          </div>
                          <div style="width: 15%; text-align: right;">
                              <p>&#8377;</p>
                          </div>
                          <div style="width: 15%; text-align: right;">
                              <p>11,800</p>
                          </div>
                        </div>
                    </div>
                    <div class="text-center" style="color: #002951;">
                        <p>*For locations out of Maharashtra State IGST @ 18% will apply in lieu SGST and CGST  &nbsp;*In case of SEZ, GST not applicable</p>
                        <button type="submit" class="btn submit_btn" id="rzp-button1">SUBMIT</button>
                        <br> <br><br>
                    </div>
        
                </div>
            </form>
            
        </div>       
    </div>
</div>