#chatopen{
  position: fixed;
  bottom: 5%;
  right: 3%;
  padding: 10px 20px;
  background: #337c8b;
  color: white;
  border-radius: 10px;
  cursor: pointer;
  outline: none;
  user-select: none;
}
#chatopen::before{
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  border-left: 16px solid #337c8b;
  border-right: 24px solid transparent;
  border-top: 18px solid #337c8b;
  left: 10px;
  bottom: -16px;
  border-radius: 5px;
  border-bottom: 11px solid transparent;
  // border-left: 24px solid #337c8b;
  // border-right: 12px solid transparent;
  // border-top: 12px solid #337c8b;
  // border-bottom: 20px solid transparent;
  // left: 10px;
  // bottom: -24px;
  // border-radius: 10px;
}
#playerPoint{
  position: absolute;
  top: 19.2%;
  left: 21.3%;
  width: 57.5%;
}

@media (max-aspect-ratio: 16/9) {
  #playerPoint{
      top: 19.5%;
  }
}
#listItems{
  position: fixed;
  top: 36%;
  right: 0;
  width: 120px;
  height: auto;
  ul{
      list-style-type: none;
      padding: 0;
      li{
          background:#8d433f;
          margin: 10px;
          border-radius: 24px;
          color: white;
          cursor: pointer;
          text-align: center;
          a{
              padding: 5px;
              text-decoration: none;
              color: #fff;
              line-height: 46px;
              height: 46px;
          }
      }
  }
}
