<section id="section">
    <div id="content-wrap">
        <div id="background">
            <img id="bgImg" src="../../../assets/ipf/images/mainstage.jpg" width="100%" alt="">
            <div id="playerPoint">
                <div id="player-wrapper" class="player-container"></div>
            </div>    
        </div>
        <div id="listItems">
            <ul>
                <li>
                    <a routerLink="/eventhalltwo/qna">Q&A</a>
                </li>
                <li>
                    <a routerLink="/eventhalltwo/eventHallChat">Chat</a>
                </li>
                <li>
                    <a (click)="clapping()">Clap</a>
                </li>
                <li>
                    <a (click)="whistling()">Whistle</a>
                </li>

                <li>
                    <a data-toggle="modal" data-target=".quizModal"><img src="assets/icons/navigation-h.png" alt="">
                        quiz
                    </a>
                </li>

                <!-- <li>
                    <a (click)= "likeopen()">Like
                    
                    </a>
                </li> -->
            </ul>
        </div>
        <!-- <div id="chatopen" routerLink="/eventhall/chat">CHAT</div> -->
        <!-- <div id="chatopen" routerLink="/eventhalltwo/qna">Q&A</div> -->
        
    </div>
</section>
<router-outlet></router-outlet>
<audio id="myAudioClap">
    <source src="assets/spmcil/audio/applause.wav" type="audio/wav">
    <source src="assets/spmcil/audio/applause.mp3" type="audio/mpeg">
    Your browser does not support the audio element.
</audio>
<audio id="myAudioWhistle">
    <source src="assets/spmcil/audio/whistle.mp3" type="audio/mpeg">
    Your browser does not support the audio element.
</audio>
