 <!-- <section id="section">
    <div id="content-wrap">
        <div id="background" style="background-image: url(assets/fasenra/3.jpeg);"> 
                <div class="row">
                <div  class="col-md-4" *ngFor='let item of img'>
                    <img class="yes" src={{item.image}}>
                </div>
                
                

        </div>
    </div>
    </div>
</section>  -->

<div class="container">
    <div id="background" style="background-image: url(assets/fasenra/3.jpeg);"> 
    <div class="row pt-5">
        <div class="col-4 text-center pt-1" *ngFor="let msg of img; let i =index">
            <img [src]="msg.image" alt="image" width="100%">
        </div>
    </div>
    </div>
</div>