<section>
    <div class="content-wrap">
        <div id="bg">
            <img src="../../assets/fasenra/gamezone.jpg" alt="">
            <a id="pointer_1" data-toggle="modal" data-target="#bubbleShoot" (click)="stepup('click_bubbleshot');">
                <div class="pulsating-circle"></div>
            </a>
            <a id="pointer_2" data-toggle="modal" data-target="#bikeRacing" (click)="stepup('click_bikeracing');">
                <div class="pulsating-circle"></div>
            </a>
        </div>
    </div>
</section>

<div class="modal fade" id="bubbleShoot" tabindex="-1" role="dialog" aria-labelledby="GameModal1Label" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title text-white" >Bubble Shoot</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <section id="section">
            <div id="content-wrap">
              <div id="background">
                <iframe src="https://webinar.multitvsolution.com/Bubble-Shooter/bubble-shooter.html" width="100%" height="615" frameborder="0" ></iframe>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="bikeRacing" tabindex="-1" role="dialog" aria-labelledby="GameModal1Label" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title text-white" >Bike Racing</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" routerLink="/lobby">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <section id="section">
            <div id="content-wrap">
              <div id="background">
                <!-- <iframe src="https://webinar.multitvsolution.com/Bubble-Shooter/bubble-shooter.html" width="100%" height="500" frameborder="0"></iframe> -->
                <iframe style="width:100%" src="https://lagged.com/api/play2/superbike-hero2/"
          height="550" frameborder='0'></iframe>
                <!-- <iframe src="http://wanted5games.com/games/html5/car-rush-new-en-s-iga-cloud/index.html?pub=10" name="cloudgames-com" width="100%" height="615" frameborder="0" scrolling="no"></iframe> -->
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
  </div>