
#popup{
    max-height: 100%;
    background: #000000c9;
    padding: 5px;
    .chat_section{
      background: #292F35;
      .popup_header{
        height: 40px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        color: #fff;
  
        .close {
          position: absolute;
          right: 7px;
          width: 24px;
          height: 28px;
          opacity: 0.5;
        }
        .close:hover {
          opacity: 1;
        }
        .close:before, .close:after {
          position: absolute;
          right: 7px;
          content: ' ';
          height: 28px;
          width: 2px;
          background-color: #fff;
        }
        .close:before {
          transform: rotate(45deg);
        }
        .close:after {
          transform: rotate(-45deg);
        }
  
      }
    }
  }
  
  .chat_box{
    .chat_message{
      list-style-type: none;
      padding: 0;
      display: inline-block;
      height: 400px;
      width: 96%;
      overflow: auto;
      overflow-x: hidden;
      .chat_messageList{
        padding: 10px;
        .img_avatar{
          float: left;
          width: 46px;
          img{
            width: 28px;
          }
        }
        p{
          .person{
            display: block;
            color: #292f35;
            font-weight: bold;
            font-size: 14px;
            float: left;
            cursor: pointer;
            margin-right: 15px;
            text-transform: capitalize;
            line-height: 18px;
            .checkProfile{
              text-decoration: none;
              outline: none;
              color: #292f35;
            }
          }
          .time {
            float: right;
            color: dimgrey;
            line-height: 18px;
          }
        }
        .text_message{
          font-size: 12px;
          font-weight: 500;
          line-height: 15px;
          margin-left: 48px;
          clear: both;
          margin-bottom: 5px;
        }
      }
      .chat_messageList:nth-child(even){
        background: #e8e8e8;
      }
    }
  }
  .message_input {
    padding: 10px;
    textarea {
      border: none;
      height: 102px;
      box-sizing: border-box;
      outline-width: 0;
      padding: 10px;
      font-size: 14px;
      width: 78% !important;
      border-radius: inherit;
      border-radius: 2px;
      background: #e8e8e8;
      border: 0px;
      padding: 10px 5px 6px 15px;
      line-height: 11px;
      /* margin-left: 15px; */
      resize: none;
      border: 1px solid #e8e8e8;
      outline: none;
    }
    #chatBtn{
      width: 20%;
      font-size: 12px;
      background: #ebebeb;
      padding: 2px;
      box-shadow: none;
      height: 40px;
      border-radius: inherit;
      background: #292f35;
      border: navajowhite;
      margin-top: 0;
      svg{
        color: #fff;
  
      }
    }
  }
  
  .online_chat{
    min-height: 400px;
    overflow: auto;
  
  }
  
  
  /* width */
  ::-webkit-scrollbar {
    width: 7px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #292f35;
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #292f43;
  }
  // .schedule-body {
  //   height: 40vh;
  // }
  .calendar-part {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .time-part {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .time-part .time-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    height: 300px;
  }
  .time-part .time-list li {
    margin: 5px 10px;
    text-align: center;
    min-width: 150px;
    line-height: 35px;
  }
  .time-part .time-list li a {
    color: #333;
    padding: 0px 30px;
    font-size: 14px;
    display: block;
    background: #fff;
    border-radius: 4px;
    border: 1px solid #e0e0e0;
    transition: all .3s linear;
  }
  .time-part .time-list li  a:hover {
    text-decoration: none;
    outline: none;
    background: #000000c9;
    color:white;
  }
  
  .confirm-btn {
    display: table;
    background: rgba(0, 0, 0, 0.7);
    padding: 10px 30px;
    border-radius: 4px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    margin: 30px auto 15px;
    color: #fff;
    outline: none;
    border: 0;
    transition: all 300ms linear;
  }
  .active {
    background: rgba(0, 0, 0, 0.7) !important;
  border: 1px solid rgba(0, 0, 0, 0.7) !important;
  color: #fff !important;
  }
  